.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

#prev-button {
  background-color: #E95346;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px #222;
  color: #FAFAFA;
  cursor: pointer;
  font-size: 25px;
  position: fixed;
  bottom: 20px;
  left: 20px;
}

#next-button {
  background-color: #E95346;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px #222;
  color: #FAFAFA;
  cursor: pointer;
  font-size: 25px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
